@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(255, 109, 189)
}

h1 {
    text-shadow: 2px 2px 4px #7f7878
}

canvas {
    padding-top: 3em;
    background-color: white;
    width: 1000px;
}

.tools {
    padding-bottom: 2em;
}

img {
    padding-left: 5em;
}
.inherit-font {
    font-family: 'Press Start 2P', cursive;
}

.outter-most-container {
    padding-top: 3em;
    margin: 0 auto;
    max-width: 950px;
}

.homepage {
    text-align: center;
    font-size: large;
}

.canvas-page {
    margin: 0 auto;
    max-width: 960px;
}


.homebanner {
    margin: 0 auto;
    max-width: 960px;
}

.bg-image {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}


.headinghome {
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    padding: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: rgb(106, 78, 207);
    border: none;
    width: 150px;
    font-size: 1em;
    transition: 0.5s;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: #556cf0;
    width: 200px;
    color: white;
}

.hidden {
    display: none;
    position: absolute;
}

.room-btn-container {
    margin-bottom: 15em;
}

